<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="app.nicbill.assistantrainbowsixsiege">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainMenuActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Ops.OperatorsListActivity"
            android:label="@string/title_activity_operators"
            android:parentActivityName=".MainMenuActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="app.nicbill.assistantrainbowsixsiege.MainMenuActivity" />
        </activity>
        <activity
            android:name=".Ops.OpsInfosActivity"
            android:parentActivityName=".Ops.OperatorsListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="app.nicbill.assistantrainbowsixsiege.Ops.OperatorsListActivity" />
        </activity>
        <activity
            android:name=".Weapons.WeaponsListActivity"
            android:label="@string/title_activity_weapons"
            android:parentActivityName=".MainMenuActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="app.nicbill.assistantrainbowsixsiege.MainMenuActivity" />
        </activity>

        <activity
            android:name=".Weapons.WeaponsInfosActivity"
            android:parentActivityName=".Weapons.WeaponsListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="app.nicbill.assistantrainbowsixsiege.Weapons.WeaponsListActivity" />
        </activity>
    </application>

</manifest>